* *:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}
article, aside, details, div, dt, figcaption, footer, form, header, hgroup, html, main, nav, section, summary {
  display: block;
}
input{
  border: none ;
  border-bottom: 2px solid grey;
}
input[type='file']{
  border: none;
}
button{
  margin-left: 16px;
  padding: 8px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 8px;
  align-self: flex-start;
}
.appWrapper {
  display: flex;
  align-items: flex-start;
  -moz-box-pack: justify;
  justify-content: space-between;
  gap: 4rem;
  max-width: 1800px;
  padding: 4rem 8rem;
  margin: 0px auto 4rem;
  

}
.btn-group{
  display: flex;
  flex-direction: row;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 210mm;
  padding: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
form > div > h1{
  text-indent: 10px;
}
form > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
form > div > .form-group, input{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

}
.cvWrapper{
  width: 210mm;
  height: 297mm;
  position: sticky;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header{
  display: flex;
  gap: 8px;
  padding: 32px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;

}
img{
  width: 200px;
  height: 200px;
  border: solid 1rem white;
  border-radius: 50%;
  object-fit: cover;
}
main{
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  height: inherit;
}
.cv-address{
  display: flex;
  align-items: center;
}
.cv-address > p{
  font-size: 12px;

  flex-shrink: 4;
  max-width: 120px;
}

.left > .contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;

}

.right{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cv-experience, .cv-education{
  padding: 16px;
}
.contact > span{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header{
  grid-column-start: 1;
  grid-column-end: 3;
}
.heading{
  padding: 16px;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

@media  (max-width: 1600px) {
  .appWrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

}
