* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  align-self: center;
}
.appWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
}

form{
  display: flex;
  flex-direction: column;
}
form > div > h1{
 margin: 10px;
  
}
form > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form > div > .form-group, input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  width: 80vw;

}